html {
  font-size: 62.5%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  line-height: 2.5rem;
}

.container {
  max-width: 100%;
  width: auto;
  box-sizing: border-box;
  border: solid 1px black;
  border-radius: 5px;
  background-color: gainsboro;
  background-image: linear-gradient(to bottom right, gainsboro, white);
  padding: 1rem;
  margin: 10px 20px;
  padding-bottom: 10px;
}

.clearfix::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

.container .clearfix .heading h1 {
  float: right;
  width: 65%;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 2.2rem;
  grid-area: otsikko;
  margin-bottom: 10px;
  letter-spacing: 1px;
  color: #627081;
}

.container .reverse .heading h1 {
  float: left;
  width: 65%;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 2.2rem;
  grid-area: otsikko;
  margin-bottom: 10px;
  letter-spacing: 1px;
  color: #627081;
}

.container .clearfix .image {
  float: left;
  max-width: 30%;
  height: auto;
}

.container .reverse .image {
  float: right;
  max-width: 30%;
  height: auto;
}

.container .clearfix .image img {
  padding: 5px;
  border: solid 1px;
  border-color: lightgray darkgray darkgray lightgray;
  box-shadow: 3px 3px 3px darkgray;
  background-color: white;
  margin-right: 5px;
  max-width: 100%;
}

.container .reverse .image img {
  padding: 5px;
  border: solid 1px;
  border-color: lightgray darkgray darkgray lightgray;
  box-shadow: 3px 3px 3px darkgray;
  background-color: white;
  max-width: 100%;
  margin-left: -15px;
}

.container .clearfix .text {
  float: right;
  width: 65%;
  box-sizing: border-box;
}

.container .reverse .text {
  float: left;
  width: 65%;
  box-sizing: border-box;
}

.container .text p {
  text-align: justify;
  margin-block-end: 10px;
}

.container .text1 p {
  text-align: justify;
  margin-block-end: 10px;
}

.container .reverse {
  float: revert;
}

@media screen and (max-width: 425px) {
  body {
    margin: 0;
    flex-wrap: wrap;
  }

  .container {
    margin: 0 0 10px 0;
    width: 100%;
    min-width: 320px;
    padding: 10px;
  }
}

@media screen and (max-width: 766px) {
  body {
    margin: 0;
    flex-wrap: wrap;
  }
}
